@import "../../styles/variables";

.sidebar {
  min-height: 100vh;
  width: $sidebarWidth;
  border-right: 1px solid lightgray;
  padding: 15px;

  .textField {
    width: 100%;
  }

  h3 {
    margin: 1rem 0;
  }
}
