.card {
  display: flex;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;

  .imgContainer {
    display: flex;
    align-items: center;

    img {
      border-radius: 10px;
      margin-right: 2rem;
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-self: center;

    .item {
      font-size: 11px;

      &:first-child {
        font-size: 1.5em;
      }

      &:not(:last-child) {
        margin-bottom: .7em;
      }
    }

    .price {
     font-weight: bold;
      font-size: 13px;
    }
  }
}

@media (max-width: 700px) {
  .card {
    flex-direction: column;
    align-items: center;

    .imgContainer {
      img {
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}
