.card {
  border: 1px solid black;
  border-radius: 8px;

  .imgContainer {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    img {
      width: 200px;
      height: 150px;
    }
  }

  .stats {
    padding: 10px;
  }
}
